@import '../index.scss';

body, html{
  margin: 0;
  border: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
/*======================================
//--//-->   STYLES GENERALES
======================================*/
.row {
  display: flex;
  flex-direction: column;  
}

.row-reverse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*-----/ Sections Padding && Margin /------*/
.sect-nmll5 {
  margin-left: -15px;
}

.sect-nmr15 {
  margin-right: -15px;
}

/*-------------/ Flex Layout /------------*/
.justify-content-center {
  justify-content: center;
}

/*-------------/ Button Style /-----------*/
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;  
}

.button-primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
}

/*-------------/ Table Style /-----------*/






.app {
  /*======================================
  //--//-->   STYLES MAIN RECIPIES
  ======================================*/
  .main-recipies {
    .main-recipies-head {
      background-color: #fff;
    
      .main-recipies-title {
        width: 90%;
        border-radius: 5px;
        text-align: center;
        margin: 15px auto;
        color: $primary-color;
      }
      
      .main-recipies-searchbar {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
      }
    }

    .subrecipies {
      margin-top: 15px;
      margin-left: -15px;
      margin-right: -15px;
      background-color: #fff;
      
        .table-body {
          width: 95%;
          margin: 0 auto;
          padding-bottom: 15px;

          .table-header {
            background-color: $primary-color;
            border-radius: 5px 5px 0px 0px;
            padding: 10px 5px;
            font-weight: bold;
          }

          .table-content {
            border: 1px solid $primary-color;
            border-radius: 0px 0px 5px 5px;
          }
        }
    }


  }

  

}


@media (max-width: 770px) {
  .d-none {
    display: none;
  }
}


/*@media (min-width: 771px) {
  .small {
  	display: none;
  }
}*/